# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: "npm"
    - run: |
        npm ci
        npm run build --if-present
        npm test
        cp -R * ../dist/@celastrina/http
      working-directory: "@celastrina/core"
    - run: |
        npm ci
        npm run build --if-present
        npm test
      working-directory: "@celastrina/http"
    - run: |
        npm ci
        npm run build --if-present
        npm test
      working-directory: "@celastrina/message"
    - run: |
        npm ci
        npm run build --if-present
        npm test
      working-directory: "@celastrina/semaphore"
    - run: |
        npm ci
        npm run build --if-present
        npm test
      working-directory: "@celastrina/timer"
    - run: |
        npm ci
        npm run build --if-present
        npm test
      working-directory: "@celastrina/transact"
